
body {
    background: #134E5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.square-img-container {
    position: relative;
}

.square-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgray;

}

.square-img-container::after{
    content: "";
    display:block;
    padding-bottom: 100%;
}